@font-face {
  font-family: Equinor;
  src: url(https://eds-static.equinor.com/font/Equinor-Light.woff2) format('woff2'),
       url(https://eds-static.equinor.com/font/Equinor-Light.woff) format('woff');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: Equinor;
  src: url(https://eds-static.equinor.com/font/Equinor-Regular.woff2) format('woff2'),
       url(https://eds-static.equinor.com/font/Equinor-Regular.woff) format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Equinor;
  src: url(https://eds-static.equinor.com/font/Equinor-Medium.woff2) format('woff2'),
       url(https://eds-static.equinor.com/font/Equinor-Medium.woff) format('woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: Equinor;
  src: url(https://eds-static.equinor.com/font/Equinor-Bold.woff2) format('woff2'),
       url(https://eds-static.equinor.com/font/Equinor-Bold.woff) format('woff');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Equinor;
  src: url(https://eds-static.equinor.com/font/Equinor-LightItalic.woff2) format('woff2'),
       url(https://eds-static.equinor.com/font/Equinor-LightItalic.woff) format('woff');
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: Equinor;
  src: url(https://eds-static.equinor.com/font/Equinor-Italic.woff2) format('woff2'),
       url(https://eds-static.equinor.com/font/Equinor-Italic.woff) format('woff');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: Equinor;
  src: url(https://eds-static.equinor.com/font/Equinor-MediumItalic.woff2) format('woff2'),
       url(https://eds-static.equinor.com/font/Equinor-MediumItalic.woff) format('woff');
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: Equinor;
  src: url(https://eds-static.equinor.com/font/Equinor-BoldItalic.woff2) format('woff2'),
       url(https://eds-static.equinor.com/font/Equinor-BoldItalic.woff) format('woff');
  font-style: italic;
  font-weight: 700;
}

html * {
  font-family: "Equinor", Fallback, sans-serif;
}

#logo-equinor {
  display: block;
  top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 220px;
  height: auto;
}

#body-title {
  margin-top: 10px;
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 50px;
  border: 5px solid #007079;
  padding-bottom: 5px;
  background-color: #c9e1e3;
}

.left-side {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: center;
}

.shuttle-pictures {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 50px;
  justify-content: center;
  justify-content: space-evenly;
  min-width: 500px;
}

#video {
  display: inline-block;
  margin-left: 150px;
}
#video-view {
  border: 5px solid #007079;
}

#input-view {
  text-align: center;
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  border-left: 2px solid rgb(138, 138, 138);
  border-right: 2px solid rgb(138, 138, 138);
  border-width: 4px;
  min-width: 450px;
}

#clientRequests {
  text-align: center;
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  border-left: 2px solid rgb(138, 138, 138);
  border-right: 2px solid rgb(138, 138, 138);
  border-width: 4px;
  min-width: 450px;
}
#reqButtonText {
  font-size: 15px;
}

#requestAnswer {
  font-size: 15px;
}

.button {
  display: inline-block;
  padding: 10px 15px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: rgb(0, 0, 0);
  background-color:  rgb(207, 207, 207);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.button:hover {background-color:  rgb(100, 100, 100);} 
.button:active {
  box-shadow: 0 5px #879199;
  transform: translateY(4px);
  background-color:  #007079;
}

.control-info {
  font-size: 15px;
  background-image: auto;
  min-width: 500px;
}

#telemetry {
  margin-top: 50px;
}

#telemetry-view {
  width: 400px;
  padding: 20px;
  border: 5px solid #007079;
  margin: 5px;
  background-color: #75b1b5;
}