body {
  background-color: #ffffff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: #333333
}

#logo-equinor {
  display: block;
  top: 0;
  margin-right: auto;
  margin-left: auto;
  width: 250px;
  height: auto;
  opacity: 0.8;
}

#body-title {
  margin-top: 10px;
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 50px;
  border: 5px solid #007079;
  padding-bottom: 5px;
  background-color: #c9e1e3;
}

.left-side {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: center;
}

.shuttle-pictures {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 50px;
  justify-content: center;
  justify-content: space-evenly;
  min-width: 500px;
}

#video {
  display: inline-block;
  margin-left: 150px;
}
#video-view {
  border: 5px solid #007079;
}

#input-view {
  text-align: center;
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  border-left: 2px solid rgb(138, 138, 138);
  border-right: 2px solid rgb(138, 138, 138);
  border-width: 4px;
  min-width: 450px;
}

#clientRequests {
  text-align: center;
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  border-left: 2px solid rgb(138, 138, 138);
  border-right: 2px solid rgb(138, 138, 138);
  border-width: 4px;
  min-width: 450px;
}
#reqButtonText {
  font-size: 15px;
}

#requestAnswer {
  font-size: 15px;
}

.button {
  display: inline-block;
  padding: 10px 15px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: rgb(0, 0, 0);
  background-color:  rgb(207, 207, 207);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.button:hover {background-color:  rgb(100, 100, 100);} 
.button:active {
  box-shadow: 0 5px #879199;
  transform: translateY(4px);
  background-color:  #007079;
}

.control-info {
  font-size: 15px;
}

#telemetry {
  margin-top: 50px;
}

#telemetry-view {
  width: 400px;
  padding: 20px;
  border: 5px solid #007079;
  margin: 5px;
  background-color: #75b1b5;
}